<h2>Add an artwork</h2>
	<%= form_for @artwork do |f| %>
		<fieldset>
			<div class="form-group">
				<%= f.label :title %>
				<%= f.text_field :title, class: "form-control" %>
			</div>
			<div class="form-group">
				<%= f.label :artist_id %>
				<%= f.collection_select :artist_id, Artist.all, :id, :full_name, {:include_blank => true}, {class: "form-control"} %>
        </div>
			<div class="form-group">
				<%= f.label :price %>
				<%= f.text_field :price, class: "form-control" %>
			</div>
			<div class="form-group">
				<%= f.label :technic %>
				<%= f.text_field :technic, class: "form-control" %>
			</div>
    <h3>Or create a new Artist</h3>
      <%= form_for @artist do |f| %>
      <fieldset>
        <div class="form-group">
          <%= f.label :full_name %>
          <%= f.text_field :full_name, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :biography %>
          <%= f.text_field :biography, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :birth_date, "Born" %>
          <%= f.date_field :birth_date, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :death_date, "Died" %>
          <%= f.date_field :death_date, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :style %>
          <%= f.text_field :style, class: "form-control" %>
        </div>
        <% end %>
			<%= f.submit "Add to my collection", class: "btn btn-primary" %>
 
		</fieldset>
	<% end %>