<h1>Art</h1>

<br>
<%=  @artwork.title %>
<%=  @artwork.price %>
<%=  @artwork.technic %>
  
  <br>

    <h3>Add to collection</h3>
<% @collections.each do |c| %>
  <p><%= c.name %> | 
    <% if c.artworks.any? {|a| a.id == @artwork.id } %>
      <%= link_to "remove", collection_path(c, artwork: @artwork.id), method: "patch" %>
        <% else %>
    <%= link_to "add", collection_path(c, artwork: @artwork.id), method: "patch" %>
      <% end %>|
    <%= link_to "View collection", collection_path(c) %>
    </p>
  <% end %>
   