<h1>Art</h1>

<br>
<%=  @artwork.title %>
<%=  @artwork.price %>
<%=  @artwork.technic %>
  
  <br>

<% form_with model: @collections do |f| %>
<%= f.label(@collections, "Add to collection") %>
<%= f.collection_select(:collection_id, @collections, :collection_id, collection.name) %>
  <%= f.submit %>
<% end %>